{% extends "main_hms/base.html" %} 

{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="about-page-container">
    <div class="image-container">
        <img src="{% static 'main_hms/images/about_page_head.jpg' %}" alt="about_page_head" class="background-image" />
        <div class="overlay-text">
            <h1>Откройте для себя доступный, аутентичный и безопасный способ путешествовать по миру.</h1>
            <p>Узнайте, как вы можете обменять жилье на свой следующий отпуск.</p>
        </div>
    </div>
    <h2 class="text-center mt-4">Создайте свой аккаунт и заполните профиль!</h2>
    <ul>
        <li class="text-center mt-4">Представьтесь и выберите свои любимые направления</li>
        <li class="text-center mt-4">Добавьте фото своего дома</li>
        <li class="text-center mt-4">Добавьте информацию о доступности вашего дома в календарь</li>
    </ul>
    <h2 class="text-center mt-4">Ищите дома в интересующих вас пунктах назначения и отправляйте запросы на обмен</h2>
    <ul>
        <li class="text-center mt-4">Отправляйте персонализированные сообщения и отвечайте на запросы других участников</li>
        <li class="text-center mt-4">Организуйте детали вашего обмена через систему обмена сообщениями HomeSwap</li>
    </ul>
    <h2 class="text-center mt-4">Станьте участником и завершите свой обмен!</h2>
    <ul>
        <li class="text-center mt-4">После согласования деталей обмен должен быть одобрен принимающей стороной</li>
        <li class="text-center mt-4">Регистрация за 220 долларов на год для неограниченного количества обменов</li>
    </ul>
</div>
{% endblock %}
