{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Подключение иконки сайта -->
    <link rel="shortcut icon" type="image/png" href="{% static 'main_hms/images/homeswap_small.ico' %}" />

    <!-- Подключение пользовательских стилей -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_hms/css/styles.css' %}">

    <!-- Заголовок страницы -->
    <title>{% block title %}HomeSwap{% endblock %}</title>
</head>
<body>
    <!-- Навигационное меню -->
    <nav class="navbar navbar-expand-lg navbar-light bg-orange">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">HomeSwap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'about' %}">О нас</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'posts:posts' %}">К списку объявлений</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'posts:create_post' %}">Выложить объявление</a>
                  </li>
                  {% endif %}
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" id="profile-link">Профиль {{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'reg_auth:user_logout' %}">Выйти</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'reg_auth:user_registration' %}">Зарегистрироваться</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'reg_auth:user_login' %}">Войти</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Контент страницы -->
    <div class="container mt-4">{% block content %}{% endblock %}</div>

    <!-- Футер -->
    <footer class="bg-light text-center text-lg-start mt-4">
        <div class="text-center p-3">© 2024 HomeSwap</div>
    </footer>

    <!-- Подключение JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Ваш JavaScript-код -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          fetch("{% url 'users:get_user_slug' %}", {
              headers: {
                  'X-Requested-With': 'XMLHttpRequest'
              },
              credentials: 'include'
          })
          .then(response => {
              if (response.status === 401) {
                  // Пользователь не авторизован
                  return;
              }
              if (!response.ok) {
                  throw new Error('Network response was not ok');
              }
              return response.json();
          })
          .then(data => {
              if (data && data.profile_url) {
                  var profileLink = document.getElementById('profile-link');
                  if (profileLink) {
                      profileLink.href = data.profile_url;
                  }
              }
          })
          .catch(error => {
              console.log('Ошибка:', error);
              // Дополнительная обработка ошибок
          });
      });

  </script>
</body>
</html>
