{% extends "main_hms/base.html" %}

{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="main-page-container">
    <h1 class="text-center mt-4">Путешествуй по всему миру дешевле, меняясь домами!</h1>
    <div class="image-container">
        <img src="{% static 'main_hms/images/house_main_page.jpg' %}" alt="house_main_page" class="background-image" />
        <!-- Если хотите добавить текст поверх изображения, раскомментируйте ниже -->
        <!-- 
        <div class="overlay-text">
            <h1>Добро пожаловать в HomeSwap!</h1>
            <p>Меняйтесь домами и путешествуйте с комфортом.</p>
        </div>
        -->
    </div>
</div>
{% endblock %}
