{% extends 'main_hms/base.html' %}

{% block title %}Профиль {{ user.username }}{% endblock %}

{% block content %}

<!-- Отображение сообщений -->
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Обновить профиль</button>
</form>
{% endblock %}
