{% extends "main_hms/base.html" %}

{% block content %}
<div
  id="chat-log"
  style="border: 1px solid black; height: 300px; overflow-y: scroll; padding: 10px;"
>
  <!-- Отображение сохранённых сообщений из MongoDB -->
  {% if messages %}
    {% for message in messages %}
      <div><strong>{{ message.user }}</strong>: {{ message.message|safe }}</div>
    {% endfor %}
  {% endif %}
</div>

<div style="margin-top: 10px;">
  <input id="chat-message-input" type="text" size="100" placeholder="Введите сообщение..." />
  <button id="chat-message-submit">Send</button>
</div>

<script>
  const roomName = '{{ room_name|escapejs }}';
  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
  );

  chatSocket.onopen = function (e) {
    console.log("WebSocket соединение установлено.");
  };

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    const chatLog = document.querySelector("#chat-log");
    const newMessage = document.createElement("div");

    // Проверяем наличие имени пользователя
    if (data.user) {
      newMessage.innerHTML = `<strong>${data.user}</strong>: ${data.message}`;
    } else {
      newMessage.textContent = data.message;
    }

    chatLog.appendChild(newMessage);

    chatLog.scrollTop = chatLog.scrollHeight;
    console.log("Сообщение получено и добавлено в чат:", data.message);
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
    alert("Соединение закрыто. Возможно, возникла ошибка.");
  };

  const messageInputDom = document.querySelector("#chat-message-input");
  const messageSubmitDom = document.querySelector("#chat-message-submit");


  function sendMessage() {
    const message = messageInputDom.value.trim();
    if (message) {
      chatSocket.send(
        JSON.stringify({
          message: message,
        })
      );
      console.log("Сообщение отправлено:", message);
      messageInputDom.value = "";
    }
  }

  messageSubmitDom.onclick = function (e) {
    sendMessage();
  };

  messageInputDom.addEventListener("keydown", function (event) {
    if (event.key === "Enter") {
      event.preventDefault();
      sendMessage();
    }
  });
</script>
{% endblock %}
